body {
    background-image: url("bg_o.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top-level {
    display: flex;
    flex-direction: column;
}

.wrapper#search {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    align-items: center;
    resize: none;
}

#showname {
    border: 3px solid #16161d;
    border-radius: 8px;
    height: 56px;
    font-size: 28px;
    font-family: "Open Sans",sans-serif;
    padding-left: 10px;
    width: 70%;
    resize: none;
    outline: none;
}

button#searchbutton {
    top: 0;
    right: 0;
    width: 92px;
    height: 92px;
    border-radius: 100px;
    background-color: #ff4536;
    border: 4px solid #ff4536;
    margin-left: -20px;
    outline: none;
    cursor: pointer;
}

#searchcontent {
    color: white;
}

ul.ui-autocomplete {
    width: 50%;
    background: rgba(255, 255, 255, 0);
    padding-left: 3px;
    padding-right: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.ui-autocomplete li{
    font-family: "Open Sans", sans-serif;
    color: white;
    list-style:none;
    border-top:1px solid #fff;
    padding: 7px 0;
}

ul.ui-autocomplete li:first-child{
    border-top:none;
}

ul.ui-autocomplete li:last-child{
    border-bottom:none;
    border-radius: 0 0 8px 8px;
}

ul.ui-autocomplete li a{
    color:#999;
    border:none !important;
    text-decoration:none !important;
    /*padding:10px 17px;*/
    display:block;
}

.ui-state-focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: #16161d;
    cursor: pointer;
}

.ui-helper-hidden-accessible { 
    display:none; 
}
